/* basic elements */
html {
		}
body {
	font-family: Arial;
	color: #494848;               /* Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  font-size: 100%;
	line-height: 6px;
}
u
{
  border-bottom:1px dotted ;
  text-decoration:none;
}


h1
{
color:#7E7E7E ;
font-size: 180%;
font-weight: bolder;
}
h2
{
color: #e548aa;
font-size: 100%;
font-weight: bolder;
}

h3
{
color: #e548aa;
font-size: 100%;
font-weight: 100;

}

ul {

	margin-top: 2px;
	font-size: 100%;
  padding: 10px;
  margin:10px;
	height:18px;
	list-style-image: url('flecha.gif');

}
p {
  text-align: left;
	background-color: #ffffff;
	color:  #494848;

}

hr {
	width: 95%;
   border: medium none;
   border-top: 1px dotted ;
	 padding: 0;
	 margin: 0;
	 height:-10px;
}


#borde_redo
{
border-width: : 10px ;
 -webkit-border-radius:15px;
	box-shadow: 2px 2px 5px #999;
	border: 10px solid #FFFFFF;

}
#borde_redo2
{

	 -webkit-border-radius:15px;
	box-shadow: 2px 2px 5px #999;
	background-image: url("Cabecera-texto.png");
	background-repeat: no-repeat;

}

.page {

align: center;
margin-right:30px;
margin-left:30px;
}

.menu {
padding-top: 10px;
padding-bottom: 10px;
float: left;
width: 260px  ;
color: #616161;
 margin-top:auto;
 margin-bottom:auto;
 margin-right:10px;
 margin-left:0px;

 /* Red */
}


.menu_part{
margin-bottom:  20px;
border: 10px solid #FFFFFF;
background-color: #ffffff;    /* Blue */

}


.content {
	width:auto;
	padding-top: 0px;
	padding-left: 35px;
	margin-top:10px;

	margin-left: 250px; /* Red */
	line-height: 28px;
	color: #616161;
}

.content_part1
{


	background-color: #ffffff;    /* Blue */
	border-top: 10px solid  #ffffff;;
  border-right:10px solid   #ffffff;
  border-bottom: 10px solid  #ffffff;
  border-left:100px solid  #ffffff;
	margin-bottom:10px;
}

.content_part2
{

	padding: 5px 80px 5px 10px;
	background-color: #ffffff;    /* Blue */
	border-top: 10px solid  #ffffff;;
  border-right:80px solid   #ffffff;
  border-bottom: 10px solid  #ffffff;
  border-left: 10px solid  #ffffff;
	margin-bottom:10px;
}
